html {
    background: DarkSlateGrey;
    
    -webkit-font-smoothiDarkSlateGreyntialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 1em auto;
    max-width:900px;
    padding: 2em 2em 4em;
    text-align: justify;
}


.li, a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

p.hanging {
    text-indent: -5em;
    margin-left: 5em;
}

.nav_links {
    list-style: none;
    align-items: center;
   
}

text {
    background-color: white;
    display: inherit;
    padding: 1px 15px;
    border: 4px solid black;
    margin: 20px 0px;
    border-radius: 1px;
    
}

umbox {
    background-color: white;
    display: inherit;
    padding: 1px 15px;
    border: 4px solid black;
    margin: 25px 0px;
    border-radius: 1px;
    
    
}
    
.nav_links li {
    background-color: black;
    display: inline-block;
    padding: 5px 18px;
    cursor: pointer;

}

.nav_links li a {
    color: white;
}

.nav_links li a:hover {
    color: #ff0084;
}

<--- macht pink --->
g {
    
}
g:hover {
    color: #ff0084;
}

<--- macht pink --->

logo {
    text-indent: -9999999999px;
    background: url(Willi%20News%Logo%5.png)
    cursor: pointer;
  
}



h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #545454;
}

c {
    color: #ff0084;
}

b, strong {
    font-weight: 600;
}

img {
    background: transparent;
    
    border-radius: 1px;
    display: block;
    margin: 1.3em auto;
    max-width: 100%;
}

f {
    background: transparent;
    
    border-radius: 1px;
    display: block;
    margin: 1.3em auto;
    max-width: 45%;
}


video{
    border-radius: 1px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    
   
}