html {
    background: DarkSlateGrey;
    
    -webkit-font-smoothiDarkSlateGreyntialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 900px;
    padding: 2em 2em 4em;
    text-align: justify;
}


.li, a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}

.nav_links {
    list-style: none;
}

.nav_links li {
    background-color: black;
    display: inline-block;
    padding: 5px 38px;
    cursor: pointer;
}

.nav_links li a {
    color: white;
}

.nav_links li a:hover {
    color: #ff0084;
}


logo {
    text-indent: -9999999999px;
    background: url(Willi%20News%Logo%5.png)
    cursor: pointer;
}



h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}